<nav class="a__nav">
    <div class="a__nav__logo">
  
      <a class="" href="../../../html/admin/users.html">
        <img src="../../../images/logo.png" alt="">
        <p>
          Covid Website for
          <strong>Administrator</strong>
        </p>
    </div>
    </a>
    <div class="a__nav__info">
      <div class="a__nav__profile">
        <div class="m__btn-link">
          Ms. Lê Thị B
        </div>
        <div class="m__btn-link">
          Admin
        </div>
      </div>
      <a href="#">
        <img src="../../../images/avatar.jpg" alt="" class="avatar-thumbnail">
      </a>
    </div>
  </nav>