      <footer class="footer">
        <div class="row">
          <div class="footer__container">
            <ul class="introduction">
              <h3 class="heading-tertiary">Giới thiệu</h3>
              <li><a href="#">Giới thiệu Covid Website</a></li>
              <li><a href="#">Điều khoản dịch vụ</a></li>
              <li><a href="#">Chính sách bảo mật</a></li>
            </ul>
            <ul class="contact">
              <h3 class="heading-tertiary">Liên hệ</h3>
              <li>
                <a href="#">Hotline</a>
                <span class="phone-number">1900 000 000</span>
              </li>
              <li>
                <span>(Các ngày trong tuần từ 8h đến 24h)</span>
              </li>
              <li>
                <a href="#">Email hỗ trợ: hotro@covidwebsite.vn</a>
              </li>
            </ul>
          </div>
        </div>
      </footer>
    </div>