<!--header-->
<div class='row'>
  <div class='header__container'>
    <a href='/customer/products'>
      <img src='/images/logo.png' alt='Logo website' class='logo' />
    </a>
    <div class='search-bar'>
      <input
        type='text'
        class='form__contact'
        placeholder='Tìm kiếm sản phẩm'
      />
      <div class='search-bar__icon'>
        <div class='btn btn--accent-dark'>
          <i class='fa-solid fa-magnifying-glass search-icon'></i>
        </div>
      </div>
    </div>
    <div class='infor'>
      <a href='/customer/profile'>
        <img
          src='/images/avatar.jpg'
          alt='Avatar person'
          class='infor__avatar'
        />
      </a>
      <div class='infor__text'>
        <p class='infor__name'>Trịnh Nguyên Hưng</p>
        <a href='/' class='btn-link btn-link--white'>Đăng xuất</a>
      </div>
    </div>
  </div>
</div>
<!--/header-->